body {
    background-color: #f7f3e7;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #f7f3e7 url(images/blackgoose.png) no-repeat center 100px fixed;
}
header {
  margin-top: 20;
  padding: 3em 1em 2em 1em;
  text-align: center;
 background:
              url(images/gooseshadow.png) 90% bottom no-repeat;
  background-color: rgba(192, 234, 248, .3);  
   border-radius: 70px 70px 70px 70px;        
}
a {
    text-decoration: none;
  }
  a:link{
      color:#102031
  }
  a:visited{
      color:#fe5001;
  }
  a:focus{
      color: #fe5001;
      background-color: #ffab01;
  }
  
  a:hover{
      color: #fe5001;
      background-color: #ffab01;
  }
  a:active{
      color: #bb2237;
  }
      

  h1 {
    text-align: center;
    font: bold 3em  "Cinzel", Georgia, serif;
text-shadow: .1em .1em .2em gray;
/*border-bottom: 3px solid #016241;*/
margin-top: 30px;
color: #016241;

}
h2 {
    color: #bb2237;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
}
nav {
  text-align: center;
 }

li{
 display: inline;
 padding: 16px;
}

dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 8px;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: x-small;
  color: #bb2237;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
